<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommonCrypto.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Heimdall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E866C531AE8FBEC005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866C5E1AE8FBEC005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866C741AE8FC33005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866C7E1AE8FC33005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866CC41AE8FE7D005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866CCE1AE8FE7D005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866CEC1AE8FEEF005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866CF61AE8FEEF005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866D141AE901E3005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866D1E1AE901E3005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866D371AE90373005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866D411AE90373005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866D551AE903EA005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866D5F1AE903EA005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866D7D1AE907C4005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E866D871AE907C4005682A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
